* {
    margin: 0;
    padding: 0;
    font-family: monospace , sans-serif;
    box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0; /* Important: Removes default browser margin */
  overflow: hidden; /* Prevents scrollbars */
}
body {
  /* Set the body as a flex container */
  display: flex;
  flex-direction: column;
  /* Ensure the body takes up the full viewport height */
  height: 100vh;
  /* Other styles from your code */
  background-color: rgb(0, 0, 0);
  margin: 0;
  overflow: hidden;
}
nav {
    padding : 25px;
    font-size: 15px;

    /*glassmorphism effect*/
    backdrop-filter: blur(8px) brightness(0.5);
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 18px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 5px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;
}
.nav-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-decoration: none;
    list-style: none;
}
.title {
  color: #1d64ce;
}
.space-stations,
.tracked-satellites{
  color: #07ffb5;
  transition: text-shadow 0.3s ease-in-out;
}
.space-stations:hover,
.tracked-satellites:hover {
  cursor: pointer;
  text-shadow: 0 0 8px #6ffdff, 0 0 16px #6ffdff;
}
#globe-div {
  /* Let the globe-div grow to fill all remaining vertical space */
  flex-grow: 1;
  width: 100%;
  margin: 0;
}